/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body{
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-size: 10px;
    background: rgba(144, 144, 144, 0.3);
    
}

.date {
    background-image: url('../img/date.svg');
    background-position: 360px center;
    background-repeat: no-repeat;
}

.grey {
    background-color: #EFEFEF;
}

.loupe{
    color: #747474;
    background-image: url('../img/loupe.svg');
    background-position: 360px center;
    background-repeat: no-repeat;
}

.arrow{
    color: #747474;
    background-image: url('../img/arrow.svg');
    background-position: 360px center;
    background-repeat: no-repeat;
}

.blue {
    color: #0050D8;
}

.line {
    width: 816px;
    border: 1px solid #D1D1D1;
    margin: 32px 0;
}

.red {
    color: #ff0000;
}

.information-row label,input{
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 140%;
}

.information-row input,select{
    width: 392px;
    height: 40px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    padding: 0 10px;
}

.button input{
    width: 24px;
    height: 24px;
}

.button label{
    padding-left: 10px;
}

.header__container {
    padding: 64px 48px 24px 48px;
    background: #E5E5E5;
}

.header__container p:nth-child(1){
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 28px;
    padding-bottom: 80px;
}

.header__container p:nth-child(2){
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 140%;
}

.main__container{
    padding: 0 48px 110px 48px;
}

.main__container ,.header__container{
    min-width: 700px;
    max-width: 1000px;
    background: #fff;
    margin: 0 auto;
}

.form__title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 24px;
    padding-bottom: 32px;
}

.information-item {
    display: flex;
    padding-bottom: 25px;
}

.limited{
    width: 422px;
}

.information-row {
    display: flex;
    flex-direction: column;
}

.information-row label{
    padding-bottom: 10px;
}

.left{
    padding-right: 32px;
}

.button {
    flex-direction: row;
    align-self: flex-end;
}

.form__button{
    display: flex;
    justify-content: flex-end;
    width: 815px;
}

.form-submit{
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 140%;
    color: #fff;
    background: #0050D8;
    border-radius: 4px;
    padding: 9px 16px;
}