/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
body {
    font-family: 'PT Sans',
    sans-serif;
}

.header {
    background: #202846;
    padding: 10px 0;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    align-items: center;
    padding-left: 100px;

}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    padding-right: 25px;
}

.header__nav-item a {
    display: inline-block;
    text-align: center;
    color: white;
    padding: 15px 40px 15px 0px;
    border-right: 3px white solid;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.body{
    position: relative;
}

.body__title p{
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    color: #202846;
    background: #C6C6DC;
    padding: 45px 200px;
    margin-bottom: 150px;
}

.body__cards {
    width: 1489px;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #BDBDC6;
    margin: 36px 0;
}

.card__img {
    padding: 28px 103px;
}

.card__info {
    padding: 28px 87px 28px 0;
    position: relative;
}

.card__title {
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #353C57;
}

.card__star{
    position: absolute;
    top: 25px;
    right: 15px;
}

.card:hover #star {
    fill: yellow;
}

.card__line {
    width: 712px;
    border-bottom: 3px solid #FFFFFF;
    margin: 2px 0 10px 0;
}

.card__text {
    text-align: center;
    width: 712px;
    background: #D7D7DD;
    padding: 32px 25px;
}

.card__text p{
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #202846;
    width: 620px;
}

.card__button a{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #FFFFFF;
    display: inline-block;
    padding: 15px 30px;
    background: #202846;
    border-radius: 50px;
    position: absolute;
    bottom: 10px;
    left: 655px;
    box-shadow: 10px 10px 17px -3px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 10px 10px 17px -3px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 10px 10px 17px -3px rgba(0, 0, 0, 0.65);
}

.button__up{
    background: rgba(85, 87, 104, 0.62);
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 120px;
    right: 25px;
    border-radius: 50%;
    
}

.button__up a{
    display: inline-block;
    width: 80px;
    height: 80px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.footer{
    background: #202846;
}

.footer p{
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    color: #EEECF1;
    padding: 22px 100px;
}