/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}



img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

body {
    background-color: #F6F6F6;
}

.header {
    padding: 12px 32px;
}

.header ul li {
    list-style: none;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.header__searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: 350px;
    height: 48px;
    background-color: #fff;
    border-radius: 15px;
}

.header__searchbar p{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.header__nav {
    display: flex;
    width: 100%;
    height: 48px; 
}

.nav__continer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav__tools {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 5%;
    margin-left: 32px;
}

.nav__tools a{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #0645AD;
    padding-right: 15px;
}

.nav__tools-item {
    font-family: 'Open Sans',
    sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.nav__login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.nav__login img{
    text-align: center;
    padding-right: 10px;
}

.nav__login-item {
    font-family: 'Open Sans',
    sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.body__container {
    display: flex;
    flex-direction: row;
}

.leftbar__container {
    display: flex;
    flex-direction: column;
    width: 235px;
    height: 479px;
    margin: 0 auto;
}

.leftbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    margin-bottom: 32px;
}

.leftbar__nav {
    height: 100%;
}

.left__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.left__nav li{
    font-family: 'Open Sans',
    sans-serif;
    font-style: normal;
    letter-spacing: 0.06em;
}

.left__nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 41px;
    margin: 0 auto;
    padding: 0 20px;
    background: rgba(196, 196, 196, 0.14);
}

.info {
    background: #fff;
}

.info__container {
    padding: 62px 32px 0 32px;
    width: 93%;
}

.info__container span{
    font-family: 'Playfair Display',
    serif;
    font-weight: 900;
}

.info__container h1{
    font-family: 'Playfair Display',
    serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
}

.info__container h2{
    font-family: 'Playfair Display',
    serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0.02em;
    padding: 32px 0 16px 0;
}

.info__container h3{
    font-family: 'Playfair Display',
    serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    padding: 16px 0 16px 0;
}

.info__container p{
    font-family: 'Open Sans',
    sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.info__container ul, ol {
    padding-left: 22px;
    padding-bottom: 16px;
}

.info__container li{
    font-family: 'Open Sans',
    sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    padding-bottom: 8px;
}

.imagetag {
    padding: 16px 0 32px 23px;
}

.rightbar__list {
    padding: 0 0 0 23px;
    width: 95%;
}

.rightbar__list p {
    font-family: 'Open Sans',
    sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.04em;
    padding-bottom: 16px;
}

.rightbar__list ol {
    list-style: none;
    counter-reset: li;
    padding-left: 20px;
}

.rightbar__list li::before{
    counter-increment: li;
    content: counters(li, ".") ". ";
}

.rightbar__list li {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.06em;
    padding: 4px 12px;
}
