/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
body{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    background: #212529;
}

header{
    margin-bottom: 108px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding: 25px 0;
}

.header__nav {
    width: 35%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item a{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 15px 15px;
}

.nav-item a:hover{
    color: #FFB742;
    transition: 1s;
}

.nav-item a:not(:hover){
    transition: 1s;
}

.header__button {
    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
    
}

.header__button a{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 30px;
    color: #212529;
    padding: 12px 26px;
}

.intro{
    margin-bottom: 140px;
}

.intro__title {
    text-align: center;
    font-style: normal;
    text-transform: capitalize;
    font-weight: 700;
    color: #FFFFFF;
}

.intro__title a{
    text-decoration: underline;
    color: #FFB742;
}

.intro__title p:nth-child(1){
    font-size: 3.2rem;
    line-height: 51px;
    padding-bottom: 25px;
}
.intro__title p:nth-child(2){
    font-size: 4.8rem;
    line-height: 91px;
    padding-bottom: 47px;
}
.intro__title p:nth-child(3){
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 51px;
    padding-bottom: 50px;
}

.intro__avatar {
    text-align: center;
}

.cards {
    margin-bottom: 150px;
}

.cards__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 416px;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    padding: 28px 30px;
}

.card:hover{
    background: #FFB742;
    border-radius: 10px;
    transition: 1s;
    color: #000;
}

.card:not(:hover) {
    transition: 1s;
}

.card:hover .info-item{
    color: #000;
    transition: 1s;
}

.card:not(:hover) .info-item{
    transition: 1s;
}

.card:hover #arrow {
    fill: #000;
    transition: 1s;
}

.card:not(:hover) #arrow{
    transition: 1s;
}

.card__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E9E9E9;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.card__info p{
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}

.card__info p:nth-child(1){
    font-size: 3.2rem;
    line-height: 40px;
    color: #FFB742;
}

.card__info p:nth-child(2){
    font-size: 1.6rem;
    line-height: 31px;
    color: #FFFFFF;
}

.card__info:hover{
    color: #000;
}

.about{
    margin-bottom: 170px;
}

.about__container{
    display: flex;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.about__info {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 0 50px;
}

.about__title{
    width: 190px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    padding: 10px 25px;
}

.about__title p{
    font-size: 2rem;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFB742;
}

.about__text {
    padding: 54px 0;
}

.about__text p:nth-child(1){
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 30px;
    color: #fff;
    padding-bottom: 30px;
}

.about__text p:nth-child(2){
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    color: #D5D5D5;
}

.about__button {
    width: 128px;
    background: #FFB742;
    border: 2px solid #FFB742;
    border-radius: 50px;
}

.about__button a {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 30px;
    color: #212529;
    padding: 12px 26px;
}

.gallery{
    margin-bottom: 110px;
}

.gallery__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.gallery__title {
    width: 210px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    padding: 10px 25px;
}

.gallery__title p{
    font-size: 2rem;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFB742;
}

.gallery__subtitle p{
    font-style: normal;
    font-weight: 600;
    font-size: 4.8rem;
    line-height: 56px;
    color: #FFFFFF;
    padding: 30px 0;
}

.gallery__nav {
    width: 50%;
    padding-bottom: 50px;
}

.nav__galery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__galery-item a{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 30px;
    color: #FFFFFF;
    padding: 10px 20px;
}

.nav__galery-item:hover {
    background: #FFB742;
    transition: 1s;
    border-radius: 5px;
}

.nav__galery-item:not(:hover) {
    transition: 1s;
}

.nav__galery a:hover {
    color: #000;
    transition: 1s;
}

.nav__galery a:not(:hover) {
    transition: 1s;
}

.gallery__img {
    display: flex;
    flex-wrap: wrap;
    width: 76%;
    margin: 0 auto;
}

.gallery__img img{
    padding: 16px;
}

.footer__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: #1C1C1C;
    width: 100%;
    padding: 74px 50px;
}

.footer{
    width: 20%;
}

.footer__info {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.footer__title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 100%;
    color: #FFB742;
    padding-bottom: 30px;
}

.footer__subtitle {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 32px;
    color: #D4D4D4;
}

.links__container ,.social__container ,.news__container {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.links__title ,.social__title , .news__title{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 32px;
    color: #F5FBF2;
    padding-bottom: 25px;
}

.links-item ,
.social-item,
.news__text{
    padding: 5px 0;
}

.links-item a, .social-item a ,.news__text{
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 36px;
    color: #7B7B7B;
}

.links-item a:active,
.social-item a:active{
    color: #FFB742;
}
