
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.block1 , .block2, .block3, .block4, .block5, .block6{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.wave__square {
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg, rgba(13, 13, 215, 1) 50%, rgba(255, 237, 0, 1) 50%);
    
}

.wave{
    background-image: url("../img/glyph.svg"); 
    background-size: 210px; 
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%;
    height: 100%;

}

.wave__circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(13, 13, 215, 1) 50%, rgba(255, 237, 0, 1) 50%);
}

.square__block {
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg, rgba(13, 13, 215, 1) 50%, rgba(255, 237, 0, 1) 50%);
}

.circle__block {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(13, 13, 215, 1) 50%, rgba(255, 237, 0, 1) 50%);
}

.hex__square {
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg, rgba(13, 13, 215, 1) 50%, rgba(255, 237, 0, 1) 50%);
}

.hex {
    background-image: url("../img/hex.svg");
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: left;
    width: 100%;
    height: 100%;
}
.center{
    background-image: url("../img/hex.svg");
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.hex__circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(13, 13, 215, 1) 50%, rgba(255, 237, 0, 1) 50%);
}

.plane__square {
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg, rgba(13, 13, 215, 1) 50%, rgba(255, 237, 0, 1) 50%);
}

.plane {
    background-image: url("../img/plane.svg");
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    width: 100%;
    height: 100%;

}

.plane__circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(13, 13, 215, 1) 50%, rgba(255, 237, 0, 1) 50%);
}

.plane-center {
    background-image: url("../img/plane.svg");
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.action__square {
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg, rgba(13, 13, 215, 1) 50%, rgba(255, 237, 0, 1) 50%);
}

.square{
    background-image: url("../img/action.svg");
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.circle{
    background-image: url("../img/action.svg");
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.action__circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(13, 13, 215, 1) 50%, rgba(255, 237, 0, 1) 50%);
}

.action{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    background-color: black;
    background-image: url('../img/action.svg');
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
}

.action__empty{
    width: 100%;
    height: 50%;
}

.action-flag {
    background-image: url('../img/flag.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 30px;
    margin-top: 30px;
    width: 100%;
    height: 50%;
}

.top-action{
    background-image: url('../img/flag.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-size: 30px;
    margin: 10px;
    width: 50%;
    height: 100%;
    
}

.bottom-action {
    width: 50%;
    height: 100%;
}

.action-row {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 200px;
    background-color: black;
    background-image: url('../img/action.svg');
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
}

.left-action {
    background-image: url('../img/flag.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    background-size: 30px;
    margin: 10px;
    width: 50%;
    height: 100%;
}

.right-action {
    background-image: url('../img/flag.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 30px;
    margin: 10px;
    width: 50%;
    height: 100%;
}