body a{
    text-decoration: none;
}

.simple {
    width: 65%;
    margin: 0 auto;
    padding: 100px 0;
}

.simple h1{
    font-family: 'Playfair Display',serif;
    font-style: normal;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.02em;
}

.simple h2{
    font-family: 'Playfair Display',serif;
    font-style: normal;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0.02em;
}

.simple h3{
    font-family: 'Playfair Display',serif;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
}

.simple span {
    padding-right: 5px;
}

.simple pre{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

.simple__container {
    max-width: 770px;
}

.title__info {
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
}
