/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
body{
    font-family: 'Public Sans', sans-serif;
    font-style: italic;
    font-size: 10px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    z-index: 1;
}

.header__logo{
    background-color: #fff;
}

.header__nav {
    display: flex;
    justify-content: end;
    width: 90%;
    background-color: #000;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-right: 40px;
}

.nav-item a{
    display: inline-block;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 44px;
    color: #fff;
    padding: 37px 0
}

.gallery__container{
    display: flex;
    justify-content: space-evenly;
    width: 95vw;
    padding: 120px 0 50px 0;
    margin: 0 auto 45px auto;
}

.gallery__left {
    display: flex;
    align-items: center;
    width: 25vw;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-1000px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.gallery__center {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
}

.center-column-first img{
    padding: 10px 18px;
    
}

.center-column-first img:nth-child(1){
    animation: slide-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-br {
    0% {
        transform: translateY(-1000px) translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(10px) translateX(10px);
        opacity: 1;
    }
}

.center-column-first img:nth-child(2){
    animation: slide-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-tr {
    0% {
        transform: translateY(1000px) translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) translateX(10px);
        opacity: 1;
    }
}

.center-column-second img{
    padding: 10px 18px;
}

.center-column-second img:nth-child(1){
    animation: slide-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-bl {
    0% {
        transform: translateY(-1000px) translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(10px) translateX(10px);
        opacity: 1;
    }
}

.center-column-second img:nth-child(2) {
    animation: slide-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes slide-tl {
    0% {
        transform: translateY(1000px) translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) translateX(10px);
        opacity: 1;
    }
}

.gallery__right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 25vw;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}
@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.menu__container {
    background-image: url('../img/bg.png');
    background-position: right top;
    background-repeat: no-repeat;
    padding: 15px 0;
}

.menu__icons{
    max-width: 50vw;
}

.menu__icons img{
    width: 310px;
}

.menu__icons-upper-row {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.icons-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first{
    animation: moveRight 11s ease-in-out .1s infinite;
}
@keyframes moveRight {

    0%{
        transform: translate(0);
    }
    25% {
        transform: translate(420px ,0);
    }
    50% {
        transform: translate(420px ,420px);
    }
    75% {
        transform: translate(0 ,420px);
    }
}

.second{
    animation: moveBottom 11s ease-in-out infinite;
}
@keyframes moveBottom{
        0% {
            transform: translate(0);
        }
    
        25% {
            transform: translate(0, 420px);
        }
    
        50% {
            transform: translate(-420px, 420px);
        }
    
        75% {
            transform: translate(-420px, 0);
        }
}

.third{
    animation: moveLeft 11s ease-in-out infinite;
}

@keyframes moveLeft {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(0, -420px);
    }

    50% {
        transform: translate(420px, -420px);
    }

    75% {
        transform: translate(420px, 0);
    }
}

.fourth{
    animation: moveTop 11s ease-in-out infinite;
}

@keyframes moveTop {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-420px, 0);
    }

    50% {
        transform: translate(-420px, -420px);
    }

    75% {
        transform: translate(0, -420px);
    }
}

.icons-item p{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 58px;
}

.menu__icons-bottom-row {
    display: flex;
    justify-content: space-evenly;
}

.team__container {
    min-width: 1850px;
    min-height: 900px;
    padding-bottom: 100px;
}

.team__title p{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 7.6rem;
    line-height: 116px;
    margin: 80px 0 50px 0;
}

.team__photo {
    display: flex;
    justify-content: space-evenly;
}

.team__photo-item{
    display: flex;
    flex-direction: column;
    justify-content: end;
    filter: brightness(20%);
    min-height: 620px;
    min-width: 370px;
}

.team__photo-item:nth-child(1){
    background-image: url('../img/barber (2).png');
    background-repeat: no-repeat;
    border-radius: 40px;
}

.team__photo-item:nth-child(2){
    background-image: url('../img/barber (1).png');
    background-repeat: no-repeat;
    border-radius: 40px;
}

.team__photo-item:nth-child(3){
    background-image: url('../img/barber (4).png');
    background-repeat: no-repeat;
    border-radius: 40px;
}

.team__photo-item:nth-child(4){
    background-image: url('../img/barber (3).png');
    background-repeat: no-repeat;
    border-radius: 40px;
}

.team__photo-item p{
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 62px;
    color: #FFFAFA;;
    padding: 25px 0;
    opacity: 0;
}

.team__photo-item:hover{
    filter: brightness(100%);
    transition: all 0.8s linear;
}

.team__photo-item:hover p{
    display: inline-block;
    opacity: 1;
    transition: all 0.3s linear;
    background: rgba(163, 83, 10, 0.7);
    border-radius: 0 0 40px 40px;
    overflow: hidden;
}

.team__photo-item:not(:hover){
    transition: all 0.8s linear;
}

.team__photo-item:not(:hover) p{
    transition: all 0.8s linear;
}

.contact__container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.form__container {
    width: 95%;
    background: #E5E5E5;
}

.form__container input{
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 44px;
    width: 377px;
    padding: 10px 25px;
}

.form__container textarea{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 44px;
    width: 100%;
    height: 209px;
    resize: none;
    padding: 10px 25px;
}

.form__title {
    font-weight: 700;
    font-size: 4.1rem;
    line-height: 78px;
    text-align: center;
    background-color: #fff;
    padding-bottom: 30px;
}

.top{
    display: flex;
    justify-content: space-between;
    padding: 35px 25px;
}

.bot{
    padding: 0 25px 35px 25px;
}

.contact__map iframe{
    width: 626px;
    height: 570px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 25px 0
}

.footer__contact{
    width: 560px;
}

.footer__contact p{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 36px;
}

.footer__contact a,span{
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 36px;
    color: #000;
}

.footer__hours{
    text-align: center;
    width: 485px;
}

.footer__hours p:nth-child(1){
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 44px;
    padding-bottom: 20px;
}
.footer__hours p{
    font-style: italic;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 36px;
}

.footer__social {
    text-align: center;
    width: 390px;
}

.footer__social p{
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 36px;
    padding-bottom: 20px;
}

.social__list {
    display: flex;
    flex-direction: column;
}

.social__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__list-item img{
    padding: 5px 15px;
}

.social__list-item a{
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 36px;
    color: #000;
}